/* Color Scheme: Salmon on Ice https://color.adobe.com/Salmon-on-Ice-color-theme-2291686/ */
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700);
main {
  /*background-color: #3E454C;*/
  /*color: #FFF6E5;*/
}

header p{
  font-family: 'vollkorn', sans-serif;
}

body{
  font-size: 1em;
}

.project-title{
  font-size: 1em;
}

.name-title{
  font-family: 'vollkorn', sans-serif;
}

.background-overlay {
  background: url(../img/talltrees.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

@media (min-width: 600px){
  .project-title{
    font-size: 3em;
  }
}

.top-nav{
  display: inline-block;
}
